*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.col-1{width:8.33%;}
.col-2{width:16.66%; }
.col-3{width:25%; }
.col-4{width:33.33%; }
.col-5{width:41.66%; }
.col-6{width:50%; }
.col-7{width:58.33%; }
.col-8{width:66.66%; }
.col-9{width:75%; }
.col-10{width:83.33%; }
.col-11{width:91.66%; }
.col-12{width:100%; }

[class*='col-']{
    float: left;
    border: 2px solid gray;
}
.wrapper{
    width: 100%;
    height: auto;
    margin: auto;

}



.header-height{height: 200px;}
.menu-height{height: 50px;}
.content-height{height: 800px;}
.bigfooter-height{height: 300px;}
.footer-height{height: 100px;}

.imgResponse{
    height: 100%;
    width: 100%;
}
@keyframes banner{
    0% {background-image: url(./image/img1.jpg); background-size: cover;}
    35% {background-image:url(./image/img2.jpg); background-size: cover;}
    70% {background-image:url(./image/img3.jpg); background-size: cover;}
    100% {background-image:url(./image/img4.jpg); background-size: cover;}
}
.slider{
    animation-name: banner;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}